@page "/Game"
@using EnDejtTillApplication.Managers;
@using EnDejtTillApplication.Models;

<h3>Deltagare</h3>

@foreach (var player in PlayerManager.Players)
{
    <label>@player.Name</label><br />
}


@code {

  



}
