@page "/Game"
@using EnDejtTillApplication.Managers;
@using EnDejtTillApplication.Models;
<h3>Game</h3>

@foreach (var player in PlayerManager.Players)
{
    <label>@player.Name</label>
}


@code {

    private List <Player> Players { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }


}
