@page "/"

<style>
    button {
        margin: 2%;
        border-radius: 4px; 
        font-size: 1.5rem; 
    }
</style>

<h1 class="display-5 text-center">Startmeny</h1>
<div class="d-flex justify-content-center border-primary">
    <button>
        <a href="/selectDeck">Börja spela</a>
    </button>
    <button>
        <a href="/rules">Regler</a>
    </button>
</div>
