@page "/"

<style>
    button
    {
        margin: 2%; 
    }
</style>


<h1 class="display-5">Startmeny</h1>
<div class="d-flex border-primary">
<button>
   <a href="/selectDeck"> Börja spela </a>
</button>
<button>
 <a href="/rules"> Regler </a>
</button>
</div>


