@page "/"

<style>
    h1
    {
        font-family:Candara;
        font-size: 4em;  
        font-weight: lighter; 
        color: white; 

    }

  
</style>

<h1 class="text-center">En dejt till?</h1>
<div class="d-flex justify-content-center border-primary">
    <button>
        <a href="/selectDeck">Börja spela</a>
    </button>
    <button>
        <a href="/rules">Regler</a>
    </button>
</div>
