@using EnDejtTillApplication.Components.ReusableComponents;
@page "/inputPlayerNames/{CurrentCount:int}"



@for (int i = 0; i < CurrentCount; i++)
{
    <label>Name:</label> <input/> <br />
  
}

<GoForwardButton Url="Intro" onclick="AddPlayer"/>

@code 
{
    [Parameter]
    public int CurrentCount{ get; set; }

    public List <String> Names { get; set; }

    private void AddPlayer()
    {
        
    }

}
