@using EnDejtTillApplication.Components.ReusableComponents;
@using EnDejtTillApplication.Managers;
@page "/inputPlayerNames/{CurrentCount:int}"
@inject NavigationManager navigationManager;


<h2>Antal spelare: @CurrentCount</h2>

@for (int i = 1; i <= CurrentCount; i++)
{
    @if (i == CurrentCount)
    {
        <label>Name:</label>
        <input @bind="InputValue" placeholder="Deltagare" />
    }
}

<button @onclick="AddPlayers">+</button>

@foreach (var name in Names)
{
    <p>@name</p>
}

@if (Names.Count == CurrentCount)
{
    <button @onclick="AddActivePlayers">Klar</button>
}

<GoBackButton Url="selectPlayers" />

@code
{
    [Parameter]
    public int CurrentCount { get; set; }

    public bool IsVisible = false; 

    public string InputValue { get; set; }

    public List<string> Names { get; set; } = new List<string>();

    private void AddPlayers()
    {
        if (Names.Count<=CurrentCount)
        {
            string newName = InputValue;
            Names.Add(newName);
            InputValue = "";
        }

    }

    public void AddActivePlayers()
    {
        PlayerManager.AddActivePlayers(Names);
        navigationManager.NavigateTo("/Game");
    }
}