@using EnDejtTillApplication.Components.ReusableComponents;
@page "/Intro"


<p>
    Dealbreaker är inte bara en app, det är din partner i kärlekens äventyr!
    Klar att ta reda på om din dejt är en potentiell match eller en dealbreaker?
    Med vårt roliga och interaktiva spel kan du utforska oväntade dåliga egenskaper 
    hos din dejt genom att välja mellan "ja" eller "nä".

    Låt oss säga att din dejt avslöjar att de dricker mjölk direkt
    ur förpackningen eller att de tror att jorden är platt
    - hur skulle du reagera? Med Dealbreaker kan du testa gränserna
    för din tolerans och upptäcka vad som verkligen är viktigt för dig i en relation.
    Så varför vänta? Ladda ner Dealbreaker idag och börja spela för att upptäcka om 
    din dejt är en potentiell drömpartner eller en dealbreaker som du borde undvika!
</p>

<GoForwardButton Url="Game"/>

@code {

}
