@using EnDejtTillApplication.Components.ReusableComponents;
@page "/selectDeck"

<h3>SelectDeckPage</h3>

<button><a href="/selectPlayers">Deck 1</a></button>
<button>Deck 2</button>
<button>Deck 3</button>
<GoBackButton Url=""/>

@code {

}
