@using EnDejtTillApplication.Components.ReusableComponents;
@using EnDejtTillApplication.Managers
@inject NavigationManager navigationManager
@page "/selectDeck"


<style>
    button
    {
        margin: 1%; 
    }
</style>

<h2>Välj tema</h2>

<div>
<button @onclick="AddStarterDeck"><a href="/selectPlayers">Starter Deck</a></button> <br />
<button @onclick="AddPartyDeck"><a href="/selectPlayers">Part Deck</a></button> <br />

</div>

<GoBackButton Url=""/>

@code {

    public void AddStarterDeck()
    {
        GameManager.AddActiveDeck("starterDeck");
        navigationManager.NavigateTo("/selectPlayers");
    }

    public void AddPartyDeck()
    {
        GameManager.AddActiveDeck("partyDeck");
        navigationManager.NavigateTo("/selectPlayers");
    }


}
