@using EnDejtTillApplication.Components.ReusableComponents;
@page "/selectPlayers"
@inject NavigationManager navigationManager;

    <h3>Välj antal spelare</h3>

    <h2>@currentCount</h2>
    <button @onclick="DecrementCount">-</button>
    <button @onclick="IncrementCount">+</button>



<button @onclick="Next">Nästa</button>
<GoBackButton Url="selectDeck"/>

@code 
{
    private int numberPlayer = 0;
    private bool IsPlayerChoosen;
    private int currentCount = 0;



    private void Next()
    {
        navigationManager.NavigateTo($"/inputPlayerNames/{currentCount}");
    }
    
    
    
    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }
}
 